.error-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(226, 66, 74);
}

.error-indicator img {
  margin-bottom: 1rem;
}

.error-indicator .boom {
  font-size: 1.8rem;
}

